In [1]:
import pymysql as sql

In [4]:
# pip install pymysql

In [2]:
conn = sql.connect(host='localhost', user='root', port=3306, password='')
conn

In [3]:
show databases;

SyntaxError: invalid syntax (2998549786.py, line 1)

In [5]:
cur = conn.cursor()
cur

In [6]:
cur.execute("show databases")

6

In [7]:
cur.fetchall()

(('arya_crt',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('test',))

In [11]:
cur.execute("use arya_crt")

0

In [12]:
cur.execute("show tables")
cur.fetchall()

(('emp',), ('fees',), ('fullstack',), ('new',), ('students',))

In [13]:
cur.execute('select * from students')
cur.fetchall()

((101, 'harsh', 23, 'jaipur'),
 (102, 'sachin', 30, 'jaipur'),
 (103, 'deep', 26, 'jaipur'),
 (104, 'simran', 26, 'jaipur'),
 (105, 'ravi', 22, 'jaipur'),
 (106, 'rajat', 34, 'jaipur'))

In [14]:
conn.close()

In [15]:
cur.execute('show tables')
cur.fetchall()

InterfaceError: (0, '')

In [8]:
def db_connect():
    conn = sql.connect(host='localhost', user='root', port=3306, password='', database="arya_crt")
    cur = conn.cursor()
    return conn, cur

In [9]:
conn, cur = db_connect()

In [10]:
conn

In [11]:
cur

In [24]:
cur.execute('show tables')
cur.fetchall()

(('emp',), ('fees',), ('fullstack',), ('new',), ('students',))

In [25]:
cur.execute("insert into students values(108, 'ram', 23, 'jaipur')")

1

In [26]:
conn.commit()

In [12]:
cur.execute("show tables")
cur.fetchall()

(('emp',), ('fees',), ('fullstack',), ('new',), ('students',))

In [13]:
cur.execute("select * from students")
cur.fetchall()

((101, 'harsh', 23, 'jaipur'),
 (102, 'sachin', 30, 'jaipur'),
 (103, 'deep', 26, 'jaipur'),
 (104, 'simran', 26, 'jaipur'),
 (105, 'ravi', 22, 'jaipur'),
 (106, 'rajat', 34, 'jaipur'),
 (107, 'ravi', 23, 'jaipur'),
 (108, 'ram', 23, 'jaipur'))

In [14]:
sid = int(input("Enter sid: "))
name = input("Enter name: ")
age = int(input("Enter age: "))
address = input("Enter address: ")

cmd = f"insert into students values({sid}, '{name}', {age}, '{address}')"
cur.execute(cmd)

Enter sid:  109
Enter name:  rohan
Enter age:  23
Enter address:  jaipur

1

In [15]:
conn.commit()